USE [master]
GO
/****** Object:  Database [VentaVehiculos]    Script Date: 22/11/2022 23:32:00 ******/
CREATE DATABASE [VentaVehiculos]
 CONTAINMENT = NONE
 ON  PRIMARY 
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VentaVehiculos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VentaVehiculos]
GO
/****** Object:  Table [dbo].[cars]    Script Date: 22/11/2022 23:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cars](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[make] [char](25) NULL,
	[model] [varchar](45) NULL,
	[year] [int] NULL,
	[color] [char](5) NULL,
	[price] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 22/11/2022 23:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lastname] [varchar](45) NULL,
	[firstname] [varchar](45) NULL,
	[phone] [char](15) NULL,
	[address] [varchar](100) NULL,
	[city] [varchar](50) NULL,
	[state] [char](5) NULL,
	[zip] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASES]    Script Date: 22/11/2022 23:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customerID] [int] NULL,
	[carId] [int] NULL,
	[date] [date] NULL,
	[price] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PURCHASES] ADD  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[PURCHASES]  WITH CHECK ADD FOREIGN KEY([carId])
REFERENCES [dbo].[cars] ([id])
GO
ALTER TABLE [dbo].[PURCHASES]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[customers] ([id])
GO
USE [master]
GO
