 <div class="container">
     <h1>
         Conclusion de problemas
     </h1>
     <div class="box">
         Basado en el problema: planteado

        Primero dejaria que se fuera la presona que tarda 10 minutos acompañana de la de que tarda 5 minutos, pasado los 5 minutos  
         comenzaria la persona que tarda 2 minutos, para este punto la persona que tarda 10 minutos a avanzado 6 minutos, en este punto 
         comenzaria la que tarda 1 minuto. Esto da lugar a que en todo momento la persona que avanzo lento sea capaz de alumbran a cada uno de los 
         acompañantes sin que se haya acabado la pila del foco.
     </div>

     <div class="customecontenedor">
         Task 10 start --------------------------------------------------------> finish<br />
         Task 5  start  --------------> Task 2 start --------> taskt 1 strart ---> finish
     </div>
     <div class="box">
         En este punto las personas han logrado avanzar en 10 minutos lineales considerando que en ningun momento pararon.
         Ahora bien en el caso de uso en el que la que tuvo los diez minutos haya tomado tiempo repartido para alumbrar a 
         cada uno se deberia considerar la siguiente condicion:

         10 / 5 / 2 --> 1       minuto para alumbrar  el avance del que tarda 5 minutos
         5 / 2 / 2 -->  1.25    minuto para alumbrar  el avance del que tarda 2 minutos
         3 / 1 / 2 -->  1.5     minutos para alumbrar el avance del que tarda 1 minutos

     </div>
</div>