#reporte {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #reporte td, #reporte th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #reporte tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #reporte tr:hover {
        background-color: #ddd;
    }

    #reporte th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #1A96E2;
        color: white;
    }
.justificado {
    text-align: justify;
}

.box {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}
.customecontenedor{
    text-align: left !important;
    background-color: gray;
}